# Data Types And Structures

1. What are data structures, and why are they important?
  - Data structure
      - Data structure are like containers , which can store tha data and with the help of data structure we can acces the collection of our data. Different types of containers are use for different types of item.
  - Importance
      - when we choose the right data structure, it impacts the efficiency and performance of your program.
      - we can add, remove and modify the elements simply.
      - structures can optimize and sorting the operations.
      - it is important for fast searching and processing.

2. Explain the difference between mutable and immutable data types with     examples.
  - Mutable data types
    - mutables data types are that we can change the value. It update the value directly. It is fast for changes in example:- dict,list and set.
  - Immutable data types
    - these are tha data types we can't change the value of object. If you update the object it will become the new object, example:- string, tuples,integer.

3. What are the main differences between lists and tuples in Python?
  - Lists are mutable but tuples are immutable.
  - List is used when data may change, Tuple is used when data is constant.
  - List has many methods like append, remove, sort, but Tuple has only count and index.
  
4. Describe how dictionaries store data?
- In python, dictionaries stores the data with pairs of key and value. The values decide the storage location in the internal table.

5. Why might you use a set instead of a list in Python?
 - We use set because set are immutable and nobody can change the data in the data sheet and it only carry unique elements but list are mutable so in our data there is always a way to changing or modifying or update it.

6. What is a string in Python, and how is it different from a list?
 - In string, Characters arranged in an unchangeable order. it uses for writing a sentence, a paragraph, or a piece of material.
 - Difference:-
    - Strings are immutable but lists are mutable.
    - string can only stored characters but list store different data types
    - List is used for general data collection and strings are use for handling text and characters.
    
7. How do tuples ensure data integrity in Python?    
  - tuples ensure data integrity because they are immutable and protectect data from accidently changes.

8. What is a hash table, and how does it relate to dictionaries in Python?
  - A hash table is a data structure that maps keys to values using hash functions. Python dictionaries are built on hash tables.

9. Can lists contain different data types in Python?
  - yes list contains differnet data types like,(string,boolean value,integer,float).

10. Explain why strings are immutable in Python?
   - Strings are immutable because they ensures memory efficiency and protects data from accidental changes.

11. What advantages do dictionaries offer over lists for certain tasks?
   - Dictionaries are better than lists for fast access, labeled data, unique keys, and scalable key-based operations.

12. Describe a scenario where using a tuple would be preferable over a list?
   - Tuples are faster than lists. The values in tuples are fixed but in lists, theyare changable. If you use a tuple, Python will keep them safe and also faster to access. If you used a list, someone might accidentally change the coordinates, which can be not good.Thats why, using tuples are preferable over lists.

13. How do sets handle duplicate values in Python?
   - Sets automatically remove duplicate value by default , if you try either , sets will only store unique characters.

14. How does the “in” keyword work differently for lists and dictionaries?
   - In list, “in” keyword check the presence of an element , whether it present in the list or not.
   - In dictionaries, “in” keyword used for check only the key components not the value.

15. Can you modify the elements of a tuple? Explain why or why not?
   - No we can't modify the elements in tuple because are tuples immutable. once you store an element in tuples, that will be unchanged.

16. What is a nested dictionary, and give an example of its use case.
   - A nested dictionary means having a dictionary inside another dictionary.
   - Use case is like we want to store information of many students, where each student has their own details (name, age, course).There we can use nested dictionary.

17. Describe the time complexity of accessing elements in a dictionary  
  - Accessing elements in a Python dictionary takes O(1) on average (constant time) and O(n) in the rare worst case.

18. In what situations are lists preferred over dictionaries?
 - Order matters (like steps in a recipe).

   -    You don’t need labels or keys.
   -   Duplicates are fine.
   -   You’re looping through everything in sequence.
    - You want something lightweight and simple.
19. Why are dictionaries considered unordered, and how does that affect data retrieval?
  - Dictionaries are considered unordered because, traditionally, they didn’t guarantee any specific order of their key–value pairs. that affect data retrioeval in example, looking something up by its label (key) always works, no matter the order. They are designed mainly for quick label-based lookups, not for keeping a perfect sequence like a list would.

20. Explain the difference between a list and a dictionary in terms of data retrieval?
-  List

   - A list stores items in a specific order, and you retrieve data by its position (index).Retrieval is fast if you know the index, but you must remember the exact position.

 - Dictionary

   - A dictionary stores data as key–value pairs, and you retrieve data using a key instead of a position. This makes dictionaries better when you need quick lookups based on a unique identifier, not an item’s position.

In [1]:
#1. Write a code to create a string with your name and print it.
name = "Kartikey"
print(name)

Kartikey

In [2]:
#2.  Write a code to find the length of the string "Hello World"
quote = "Hello World"
print(len(quote))

11

In [3]:
#3. Write a code to slice the first 3 characters from the string "Python Programming"
string = "Python Programming"
print(string[0:3])

Pyt

In [4]:
#4. Write a code to convert the string "hello" to uppercase.
string = "hello"
print(string.upper())

HELLO

In [5]:
#5. Write a code to replace the word "apple" with "orange" in the string "I like apple"
string = "I like apple"
print(string.replace("apple","orange"))

I like orange

In [6]:
#6. Write a code to create a list with numbers 1 to 5 and print it.
list = [1,2,3,4,5]
print(list)

[1, 2, 3, 4, 5]

In [7]:
#7. Write a code to append the number 10 to the list [1, 2, 3, 4]
list = [1,2,3,4]
list.append(10)
print(list)

[1, 2, 3, 4, 10]

In [8]:
#8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]
list = [1,2,3,4,5]
list.remove(3)
print(list)

[1, 2, 4, 5]

In [9]:
#9. Write a code to access the second element in the list ['a', 'b', 'c', 'd']
list = ['a', 'b', 'c', 'd']
print(list[1])

b

In [10]:
#10. Write a code to reverse the list [10, 20, 30, 40, 50]
list = [10, 20, 30, 40, 50]
print(list[::-1])

[50, 40, 30, 20, 10]

In [11]:
#11. Write a code to create a tuple with the elements 100, 200, 300 and print it.
tuple = (100,200,300)
print(tuple)

(100, 200, 300)

In [12]:
#12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').
tuple = ('red', 'green', 'blue', 'yellow')
print (tuple[1:5])

('green', 'blue', 'yellow')

In [13]:
#13.  Write a code to find the minimum number in the tuple (10, 20, 5, 15).
tuple = (10, 20, 5, 15)
print(min(tuple))

5

In [14]:
#14.  Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').
tuple = ('dog', 'cat', 'rabbit')
print(tuple.index("cat"))

1

In [15]:
#15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.
tuple = ("apple","banana","kiwi")
print("kiwi" in tuple)

True

In [16]:
#16. Write a code to create a set with the elements 'a', 'b', 'c' and print it.
set = {"a","b","c"}
print(set)

{'a', 'c', 'b'}

In [17]:
#17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.
set = {1, 2, 3, 4, 5}
set.clear()
print(set)

set()

In [33]:
#18. Write a code to remove the element 4 from the set {1, 2, 3, 4}.
set = {1, 2, 3, 4}
set.remove(4)
print(set)

{1, 2, 3}

In [19]:
#19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.
set1 = {1, 2, 3}
set2 = {3, 4, 5}
print(set1.union(set2))

{1, 2, 3, 4, 5}

In [20]:
#20.  Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}
set1 = {1, 2, 3}
set2 = {2, 3, 4}
print(set1 & set2)

{2, 3}

In [21]:
#21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it.
dict = {"name":"kartikey","age":20,"city":"pune"}
print(dict)

{'name': 'kartikey', 'age': 20, 'city': 'pune'}

In [22]:
#22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.
dictionary = {'name': 'John', 'age': 25}
dictionary["country"] = "USA"
print(dictionary)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [23]:
#23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.
dictionary = {'name': 'Alice', 'age': 30}
print(dictionary["name"])

Alice

In [24]:
#24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.
dictionary = {'name': 'Bob', 'age': 22, 'city': 'New York'}
dictionary.pop("age")
print(dictionary)

{'name': 'Bob', 'city': 'New York'}

In [25]:
#25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.
dictionary = {'name': 'Alice', 'city': 'Paris'}
print("city" in dictionary)

True

In [31]:
#26. Write a code to create a list, a tuple, and a dictionary, and print them all.
list = [1,2,3,4,5]
tuple = (5,4,3,2,1)
dictionary = {"name":"kartikey","age":20,"city":"goa"}
print(list)
print(tuple)
print(dictionary)

[1, 2, 3, 4, 5]
(5, 4, 3, 2, 1)
{'name': 'kartikey', 'age': 20, 'city': 'goa'}

In [27]:
#27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.
list = [6, 9, 26, 74, 65]
list.sort()
print(list)

[6, 9, 26, 65, 74]

In [28]:
#28. Write a code to create a list with strings and print the element at the third index
list = ["apple","banana","chiku"]
print(list[2])

chiku

In [29]:
#29. Write a code to combine two dictionaries into one and print the result.
dict1 = {"name": "kartikey", "age": 20, "city": "etawah"}
dict2 = {"name": "apurva", "age": 19, "city": "etawah"}

comb_dict = dict1 | dict2
print(comb_dict)

{'name': 'apurva', 'age': 19, 'city': 'etawah'}

In [1]:
#30. Write a code to convert a list of strings into a set.
# List of strings
my_list = ["apple", "banana", "apple"]

# Convert to set
my_set = set(my_list)

print(my_set)

{'apple', 'banana'}